[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = http://github.com/gmarik/vundle.git
